body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* font-size: 14px; */
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    min-width: 992px !important;
}
h4 {
    font-size: 1.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

img{
    position: relative;
    margin-left: 420px;
    padding-top: 3px;
}

.container-fluid {
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.col-sm-6, .col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}
.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.text-center {
    text-align: center !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}

.header{
    height:110px;
    width:100%;
    background:#222831;
    color:white;
}

.section{
    background:#ecf0f1;
}

.white-card{
    margin-left: 220px;
    background: white;
    padding-top:45px;
    padding-bottom: 70px;
    height:auto;
}

.footer{
    height:110px;
    width: 100%;
    background: #222831;
    color: white;
}

.hello{
    color:#2980b9;
    width:100%;
}

.text-body{
    margin-top:25px;
}

.resetBtn{
    padding: 5px 25px 5px 25px;
    border-radius:3px;
    color:white;
    font-size:14px;
    background: #222831;
    border:1px solid #222831;
    outline:none;
    margin-top:30px;
}

.information{
    width:100%;
    color:silver;
    font-size:14px;
    margin-top:40px;
}

.copyright{
    width:100%;
    color:gray;
    font-size:13px;
    text-align:center;
    margin-top:20px;
}
