<!DOCTYPE html>
<html lang="fr">
<head>
	<title></title>
	<style type="text/css" rel='stylesheet', href='/static/stylesheets/style.css'></style>
</head>
<body>
	<h1><%= message %></h1>
	<h1><%= error.status %></h1>
	<pre>><%= error.stack %></pre>
</body>
</html>

