<!DOCTYPE html>
<html lang="fr">
<head>
	<title><%= title %></title>
	<style type="text/css" rel='stylesheet', href='/static/stylesheets/style.css'></style>
</head>
<body>
	#<%= title %>
</body>
</html>

