<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<br><br> <br> <br><br><br> <br> <br>
<div class="card text-center container">
  <div class="card-header">
   Interface de rédirection sur la plateforme de payement.
  </div>
  <div class="card-body">
    <h5 class="card-title text-danger">Notification !</h5>
    <p class="card-text">En cliquant sur continuer le payement,<br> vous acceptez nos conditions et politiques de confidentialité.</p>
    <form method="post" action="https://app.paymee.tn/gateway/">
    <input type="hidden" name="payment_token" value="<%= token %>">
    <input type="hidden" name="url_ok" value="<%= success %>">
    <input type="hidden" name="url_ko" value="<%= cancel %>">
    <button type="submit" class="btn btn-primary">Continuer le payement</button> 
 	</form>
  </div>
  <div class="card-footer text-muted">
    Amonak Team.
  </div>
</div>


 
