//- doctype html
//- head
//-   link(rel='stylesheet' type='text/css' href='https://amonak.com:3000/static/stylesheets/activation/style.css')
//-   link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
//-   link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap' rel='stylesheet')
//-   meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-   table.email-container
//-   tr.header-tr
//-     td.header-td
//-       .header-div.d-flex.align-items-center.justify-content-center
//-         img(src=`${baseUrl}/static/images/avatar/logo-blue.png` width='100px' height='100px' alt="logo Amonak")
//-       .sblue.deco
//-       .syellow.deco
//-       .swhite.deco
//-       .sorange.deco
//-       .sgreen.deco
//-       .spink.deco
//-   tr.content-tr
//-     td.content-td.d-flex.justify-content-center
//-       .content-card
//-         .container.pt-5.pb-3
//-           .row
//-             .col-12.pt-2.text-center.h3
//-               | Hello, 
//-               font(color='#0C7AE9') #{username}
//-           .row
//-             .col-12.text-center.h5 Welcome to Amonak
//-           .row
//-             .col-12text-style.pt-4.text-center
//-               | More than one step before taking full advantage of your amonak site! To activate your account, click on the following link.
//-           .row
//-             .col-12.pt-4.text-center
//-               font
//-                 | This is your activation code: 
//-                 b #{token}
//-           .row
//-             .col-12.pt-4.text-center
//-               button.activateBtn 
//-                 a(href='' + link role='button') Activate your account
//-   tr.footer-tr
//-     td.footer-td
//-       .container
//-         .row
//-           .col-12.mt-5.text-center
//-             font(color='whitesmoke' size='2') WHEN YOU CLICK ON THE LINK ABOVE, YOU WILL BE PART OF THE AMONAK ADVENTURE !
//-       .copyright.text-center
//-         font(color='whitesmoke' size='2')
//-           | &copy; 2020 Amonak. All rights reserved

div
  .aHl
  div(id=':4a' tabindex='-1')
  .ii.gt(id=':25')
    .a3s.aiL.msg909479599848984587(id=':24')
      u
      div(style='color:#444444;font-family:Google Sans,Roboto,San-Francisco,Helvetica,Arial;font-size:14px;font-weight:normal;margin:0;padding:0')
        div(style='display:none;font-size:1px;color:#333333;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden')
        section
          center(style='width:100%;margin:4px auto 0 auto')
            table(role='presentation' border='0' cellpadding='0' cellspacing='0' style='margin:0 auto;padding:0;table-layout:fixed')
              tbody
                tr
                  td
                    u
                tr(style='border-collapse:collapse;border-spacing:0;padding:0;margin:0')
                  td.m_909479599848984587main_table(style='background:#ffffff;max-width:600px;padding:0;margin:0;width:600px' width='600' align='center' bgcolor='#ffffff')
                    table(role='presentation' border='0' cellpadding='0' cellspacing='0' width='480' style='border-collapse:collapse;border-spacing:0;padding:0;margin:0;max-width:480px;width:480px;background-color:#f8f9fa')
                      tbody
                        tr(border='0' style='border-collapse:collapse;border-spacing:0;padding:0;margin:0')
                          td(align='' valign='' bgcolor='' width='' height='' style='border-collapse:collapse;border-spacing:0;padding:0;margin:0')
                            table(role='presentation' width='480' bgcolor='#ffffff' border='0' cellpadding='0' cellspacing='0' style='border-collapse:collapse;border-spacing:0;padding:0;margin:0 auto;background:#ffffff;width:480px;min-width:480px' align='center')
                              tbody
                                tr
                                  td(width='100%' style='width:100%;text-align:center;padding-top:21px;padding-bottom:10px' align='center' valign='top')
                                    img.CToWUd(role='presentation' src=`${baseUrl}/static/images/avatar/logo-blue.png` width='88' style='width:88px')
                                tr
                                  td.m_909479599848984587head_cls(style='padding-top:16px;padding-bottom:6px;width:100%;padding-left:15px;padding-right:15px;font-family:Google Sans,Roboto,San-Francisco,Helvetica,Arial;font-size:20px;line-height:30px;color:#202124;text-align:center;font-weight:500;background-color:#f8f9fa;direction:ltr' width='100%' dir='ltr') Hello #{username},
                                tr
                                  td.m_909479599848984587subhead_cls(style='padding-top:0px;padding-bottom:8px;width:100%;font-weight:normal;padding-left:35px;padding-right:35px;font-family:Google Sans,Roboto,San-Francisco,Helvetica,Arial;font-size:16px;color:#3c4043;text-align:center;background-color:#f8f9fa;line-height:24px;direction:ltr' width='100%' dir='ltr')
                                    | Welcome to Amonak
                                    br
                                    |  More than one step before taking full advantage of your amonak site!
                                    br
                                    |  To activate your account, click on the following link.
                        tr(border='0' style='border-collapse:collapse;border-spacing:0;padding:0;margin:0')
                          td(align='' valign='' bgcolor='' width='' height='' style='border-collapse:collapse;border-spacing:0;padding:0;margin:0')
                            table(role='presentation' border='0' cellpadding='0' cellspacing='0' style='width:464px' width='464' align='center')
                              tbody
                                tr
                                  td(width='464')
                                    table(role='presentation' border='0' cellspacing='0' cellpadding='0' width='100%')
                                      tbody
                                        tr
                                          td(style='padding:0 8px;background-color:#ffffff;border:1px solid #dadce0;border-radius:8px')
                                            table(role='presentation' border='0' cellspacing='0' cellpadding='0' width='100%' style='border-bottom:1px solid #dadce0')
                                              tbody
                                                //- tr(style='padding:0;margin:0;font-size:0;line-height:0')
                                                //-   td(style='border-top:6px solid #ffffff;display:inline-block;border-bottom-left-radius:4px;border-bottom-right-radius:4px;text-align:center')
                                                //- tr
                                                //-   td(align='center' style='padding-top:27px;padding-bottom:0px' valign='top')
                                                //-     img.CToWUd(role='presentation' width='45' border='0' src='https://ci3.googleusercontent.com/proxy/Z3Tv4n2wLk-fLZMTGWxYAwCm21MFxjk5St3XAa8JySVZcNjSKl_Po5WXXdHa4SWe5UWSaYsJ1xuFdkUFZwljvXRwGUupDYEqKq5eEh3Sn21Cr9q7RsCTx5ClNB8UErt6=s0-d-e1-ft#http://services.google.com/fh/files/emails/privacy_checkup_green_96dp_new.png' style='width:45px;text-align:center;border:none;font-size:9px')
                                                tr
                                                  td.m_909479599848984587headline_cls(align='center' style='color:#202124;font-family:Google Sans,Roboto,San-Francisco,Helvetica,Arial;font-size:18px;font-weight:400;line-height:27px;margin:0;padding:0 40px 5px 40px;text-align:center;word-break:normal;direction:ltr' dir='ltr')
                                                    |
                                                    br
                                                    | Activation code : #{token}
                                                //- tr
                                                //-   td.m_909479599848984587subheadline_cls(align='center' style='color:#3c4043;font-family:Roboto,San-Francisco,Helvetica,Arial;font-size:14px;font-weight:normal;line-height:21px;margin:0;padding:0 40px 20px 40px;text-align:center;word-break:normal;direction:ltr;color:#5f6368' dir='ltr') Confirm key settings and the data Google uses to personalize your experience
                                                tr
                                                  td(style='text-align:center;padding:0;padding-bottom:30px')
                                                    div
                                                      a(href='' + link dir='ltr' style='text-align:center;display:inline-block' target='_blank' data-saferedirecturl=''+link)
                                                        table(role='presentation' cellspacing='0' cellpadding='0' align='center')
                                                          tbody
                                                            tr(style='padding:0;margin:0;font-size:0;line-height:0')
                                                              td(style='border-top:6px solid #ffffff;border-top-left-radius:4px;border-top-right-radius:4px;display:inline-block;text-align:center')
                                                            tr
                                                              td.m_909479599848984587cta_btn(style='background-color:#1a73e8;border:1px solid #1a73e8;border-radius:4px;color:#ffffff;display:inline-block;font-family:Google Sans,Roboto,San-Francisco,Helvetica,Arial;font-size:14px;line-height:21px;text-decoration:none;padding:7px 26px 6px 26px;font-weight:500;text-align:center;direction:ltr')
                                                                | Activate your account
                                                            tr(style='padding:0;margin:0;font-size:0;line-height:0')
                                                              td(style='border-top:6px solid #ffffff;display:inline-block;border-bottom-left-radius:4px;border-bottom-right-radius:4px;text-align:center')
                        tr(border='0' style='border-collapse:collapse;border-spacing:0;padding:0;margin:0')
                          td(align='' valign='' bgcolor='' width='' height='' style='border-collapse:collapse;border-spacing:0;padding:0;margin:0')
                            table(role='presentation' border='0' cellpadding='0' cellspacing='0' style='width:480px;background-color:#f8f9fa' width='480')
                              tbody
                                tr
                                  td.m_909479599848984587footer_main(align='center' valign='' bgcolor='FFFFFF' width='' height='' style='border-collapse:collapse;border-spacing:0;padding:0;margin:0;width:480px;padding-bottom:73px;background-color:#ffffff')
                                    table(role='presentation' border='0' cellpadding='0' cellspacing='0' style='width:480px;background-color:#f8f9fa' width='480')
                                      tbody
                                        tr
                                          td.m_909479599848984587footer_address(style='font-family:Roboto,San-Francisco,Helvetica,Arial;font-weight:normal;font-size:12px;line-height:16px;color:#9b9b9b;text-align:center;padding:20px 20px 15px 20px;color:#5f6368;line-height:18px;direction:ltr;background-color:#f8f9fa')
                                            | WHEN YOU CLICK ON THE LINK ABOVE, YOU WILL BE PART OF THE AMONAK ADVENTURE ! 
                                            | .
                                        tr
                                          td.m_909479599848984587footer_address(style='font-family:Roboto,San-Francisco,Helvetica,Arial;font-weight:normal;font-size:12px;line-height:16px;color:#9b9b9b;text-align:center;padding:0px 10px 32px 10px;color:#5f6368;line-height:18px;background-color:#f8f9fa')
                                            span(style='font-size:inherit;color:inherit;font-weight:inherit;line-height:inherit;font-family:inherit') &copy; 2020 Amonak. All rights reserved
                tr(border='0' style='border-collapse:collapse;border-spacing:0;padding:0;margin:0')
                  td(align='' valign='' bgcolor='' width='' height='20' style='border-collapse:collapse;border-spacing:0;padding:0;margin:0;height:20px')
            table(role='presentation' border='0' cellpadding='0' cellspacing='0' width='481' style='width:481px;margin:0;padding:0;table-layout:fixed')
              tbody
                tr(style='border-collapse:collapse;border-spacing:0;padding:0;margin:0')
                  td(style='border-collapse:collapse;border-spacing:0;padding:0;margin:0;height:5px;line-height:0px;max-height:5px;overflow:hidden;font-size:0px' height='5')
                    img.CToWUd(src='https://ci3.googleusercontent.com/proxy/acV82gQmhfC0qICd4BeMFkNeP7umsIaFsT1LVKoqe3Hk-g89Klt-R5YJo9LS0K3xvRqIdveWGNK9WCB68__3TGPuMYi5b3UzoYs=s0-d-e1-ft#https://services.google.com/fh/files/emails/spacer1.png' width='481' height='5' align='left' style='height:5px;max-height:5px;line-height:5px;display:block' role='presentation')
        img.CToWUd(alt='' height='1' width='3' src='https://ci3.googleusercontent.com/proxy/NITj2aWCRtXD8fHAFerl6eWbtWsRKaZKa_GyFxU76u02Vf1EgbCov0le1y1UCSNzOzF9KKHClLwPTtkCFULbSf7bREAWvTdOMSHZLO3oTlS_HVY_Cugs2KLeUH0ZGwR2SBTo9plSIPxXkrcwJB_Z0Ss=s0-d-e1-ft#https://notifications.google.com/g/img/AD-FnEwKA6ldnjtS88hcG1Sl0hZA11HVT1OyUuziMM7tfO5ptQ8.gif')
      .yj6qo
      .adL
  .ii.gt(id=':4e' style='display:none')
    .a3s.aiL(id=':4f')
  .hi
