doctype html
head
  link(rel='stylesheet' type='text/css' href='stylesheets/reset/style.css')
.container-fluid
  .row
    .col-12.header.d-flex.align-items-center.justify-content-center
      img(src=`${baseUrl}/static/images/avatar/logo-blue.png` width='100px' height='100px' alt="logo Amonak")
  .row.section.d-flex.align-items-center.justify-content-center
    .col-md-6.col-sm-6.col-xs-12.white-card.text-center
      .hello.text-center.mt-2
        h4 Hello!
      .text-body
        font(color='#57606f')
          | Someone is interesting about your top ten publication
          br
          |                             You can text him on this mail address #{sender} or follow the bellow link:
          br
          |                             here are the files associated to the topten:
          br
          each val in imgs
            img(src='val')
      .action
        button.resetBtn 
          a(href='' + link role='button') Amonak
  .row
    .col-12.footer
      .information.text-center Please note this link will be deactivated in 24 hours.
      .copyright &copy; 2020 Amonak. All rights reserved
