doctype html
head
  link(rel='stylesheet' type='text/css' href='stylesheets/reset/style.css')
.container-fluid
  .row
    .col-12.header.d-flex.align-items-center.justify-content-center
      img(src=`${baseUrl}/static/images/avatar/logo-blue.png` width='100px' height='100px' alt="logo Amonak")
  .row.section.d-flex.align-items-center.justify-content-center
    .col-md-6.col-sm-6.col-xs-12.white-card.text-center
      .hello.text-center.mt-2
        h4 Hello #{username}
      .text-body
        font(color='#57606f')
          | Have you requested resetting your Amonak account password ?
          br
          |                             We are here to help you ! Just click on the following link:
      .action
        button.resetBtn 
          a(href='' + link role='button') Reset your account
  .row
    .col-12.footer
      .information.text-center Please note this link will be deactivated in 24 hours.
      .copyright &copy; 2020 Amonak. All rights reserved
